<div class="container">
  <h1>Mecalux word ordering</h1>

  <form [formGroup]="orderWordsForm" autocomplete="off" novalidate>
    <div class="mb-3">
      <label for="orderOptions" class="form-label">Order Options</label>
      <select formControlName="orderOption" id="orderOptions" class="form-select" aria-label="Choose your order option">
        <option value="">Choose your order option</option>
        <option *ngFor="let orderOption of orderOptions" [ngValue]="orderOption.value">{{orderOption.key}}</option>
      </select>

      <span class="invalid-feedback" *ngIf="orderWordsForm.controls.orderOption.touched && orderWordsForm.controls.orderOption.errors?.required">
        order Options <strong>is required</strong>
      </span>
    </div>

    <div class="mb-3">
      <label for="textToProcess" class="form-label">Text to Process</label>
      <textarea formControlName="textToProcess" class="form-control" id="textToProcess" rows="3"
        placeholder="Text to process"></textarea>

      <span class="invalid-feedback" *ngIf="orderWordsForm.controls.textToProcess.touched && orderWordsForm.controls.textToProcess.errors?.required">
        text to process <strong>is required</strong>
      </span>
    </div>

    <div class="d-grid gap-2">
      <button class="btn btn-outline-primary" type="button" (click)="processToOrder()">Process Order</button>
      <button class="btn btn-outline-warning" type="button" (click)="processToAnalize()">Process Analize</button>
    </div>
  </form>

  <div class="card mt-3" *ngIf="!!textStatistics">
    <div class="card-body">
      <h5 class="card-title">Text Analized</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Hyphens Quantity: {{textStatistics?.hyphensQuantity}}</li>
        <li class="list-group-item">Word Quantity: {{textStatistics?.wordQuantity}}</li>
        <li class="list-group-item">Spaces Quantity: {{textStatistics?.spacesQuantity}}</li>
      </ul>
    </div>
  </div>

  <div class="card mt-3" *ngIf="!!listOrderedText && listOrderedText.length > 0">
    <div class="card-body">
      <h5 class="card-title">Text Processed</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let orderedText of listOrderedText">{{orderedText}}</li>
      </ul>
    </div>
  </div>

</div>
